@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.greyqo {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}